<%- include('partials/header'); %>
<h1>EJS-EXPRESS-PAGE</h1>
<h2><%= subtitle %></h2>
<%= (isActive) ? "Active server" : "Inactive server" %>
<br />
<%= new Date() %> <%-include('partials/footer'); %>
